<%= form_for(@note, :url => "/projects/#{@note.project_id}/notes/#{@note.id}") do |f| %>
<% if @note.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

	<ul>
		<% @note.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="field">
	<h1><%= link_to @project.name %>: <%= f.text_field :name, :placeholder => "Note Title" %> </h1>
</div>

<div class="editing">
	<hr />
	<div class="btn-toolbar">
	<%= image_tag "_note_bold.png", :class => 'edit', :height => '17px' %>
	<%= image_tag "_note_italic.png", :class => 'edit', :height => '17px' %>
	<%= image_tag "_note_highlighter.png", :class => 'edit', :height => '17px' %>
	<%= image_tag "up.png", :class => 'edit', :height => '17px' %>
	<%= image_tag "_note_printer.png", :class => 'edit', :height => '17px' %>
	<%= image_tag "_note_tag.png", :class => 'edit', :height => '17px' %>
	<%= image_tag "trash.png", :class => 'edit', :height => '17px' %>
	
	<div class="btn-group">
	<button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">Labels <span class="caret"></span></button>
	          <ul class="dropdown-menu">
	            <li class="no_dec"><a href="#">Gels - Invert</a></li>
	            <li class="no_dec"><a href="#">Gels - Label</a></li>
	            <li class="no_dec"><a href="#">Gels - Crop</a></li>
	            <li class="divider"></li>
	            <li class="no_dec"><a href="#">Create New</a></li>
	          </ul>
	</div>
	<%= f.submit :class => 'btn btn-info' %>
	</div>
	<hr />
</div>

	<%= f.text_area :content, :class => 'note_text' %>

<% end %>
