<% content_for(:title) {"The only notebook you'll ever need" } %>

	<% content_for :content do %>
	<% end %>

	<div class="container">

		<h1>Editing note</h1>

		<%= render 'form' %>
<!--
		<button><%= link_to 'Show', project_note_path(@note.project, @note) %></button>
		<button><%= link_to 'Back', project_notes_path(@note.project) %></button> !-->
		<%= link_to 'Show', project_note_path(@note.project, @note) %>
		<%= link_to 'Back', project_notes_path(@note.project) %>
		
		<br /><br /><br /><br /><br />
		
		<h2>For SciAnts!</h2>
		<a href="/pages/home">Demo Home</a> | Created at <a href="http://angelhack.com/">AngelHack Summer 2012</a>
		<h3>Powered by </h3><%= image_tag "evernote.png", :width => "250px", alt: "Evernote" %>
		
	</div>
