
<% content_for(:title) {"The only notebook you'll ever need" } %>

<% content_for :content do %>
<% end %>

<div class="container">

	<h1><%= @project.name %>: Notes</h1><button type="button" class="btn"><%= link_to 'Back to Projects', projects_path %></button>

	<br /><br />

	<button type="button" class="btn btn-success"><%= link_to 'New Note', new_project_note_path(@project) %></button>
	
	<br /><br />

	<% @notes.each do |note| %>

 
	<div class="notes">
		<h3><%= note.name %></h3>
		<p><%= note.description %></p>
		<p><%= note.created_at %></p>
		<p><%= note.project_id %></p>
		<p><%= note.note_id %></p>
		<p><%= note.content %></p>

		<%= link_to 'Open', edit_project_note_path(note.project, note), :class => "btn" %>
		<%= link_to 'Delete', project_note_path(note.project, note), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>

		<!-- <button type="button" class="btn btn-danger"><%= link_to 'Delete', project_note_path(note.project, note), method: :delete, data: { confirm: 'Are you sure?' } %>
		</button> -->
	
	</div>
	<% end %>
</div>
