
<% content_for(:title) {"The only notebook you'll ever need" } %>

	<% content_for :content do %>
	<% end %>

	<div class="container">

		<h1>Project: Notes</h1>
		
		<br />

		<table>
		  <tr>
		    <th width="15%">Name</th>
		    <th width="25%">Description</th>
		    <th width="10%">User</th>
		    <th width="5%">Project</th>
		    <th width="5%">Note</th>
		    <th width="25%">Content</th>
		    <th></th>
		    <th></th>
		    <th</th>
		  </tr>

		<% @notes.each do |note| %>
		  <tr>
		    <td><%= note.name %></td>
		    <td><%= note.description %></td>
		    <td><%= note.user %></td>
		    <td><%= note.project_id %></td>
		    <td><%= note.note_id %></td>
		    <td><%= note.content %></td>
		    <td><button><%= link_to 'Show', note %></button></td>
		    <td><button><%= link_to 'Edit', edit_note_path(note) %></button></td>
		    <td><button><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
		  </tr>
		<% end %>
		</table>

		<br />

		<button><%= link_to 'New Note', new_note_path %></button>

		<br /><br /><br /><br /><br />
		
		<h2>For SciAnts!</h2>
		<a href="/pages/home">Demo Home</a> | Created at <a href="http://angelhack.com/">AngelHack Summer 2012</a>
		<h3>Powered by </h3><%= image_tag "evernote.png", :width => "250px", alt: "Evernote" %>

</div>
