<% content_for(:title) {"The only notebook you'll ever need" } %>

<% content_for :content do %>
	<% end %>

	<div class="container">

		<p id="notice"><%= notice %></p>

		<h1><%= @note.name %></h1>

		<br />

		<h2>Description:</h2>
		<p><%= @note.description %></p>


		<h2>User:</h2>
		<p><%= @note.user %></p>

		<h2>Project:</h2>
		<p><%= @note.project_id %></p>

		<h2>Note:</h2>
		<p><%= @note.note_id %></p>

		<h2>Content:</h2>
		<p><%= @note.content %></p>

		<button type="button" class="btn btn-primary"><%= link_to 'Edit', edit_project_note_path(@note.project, @note) %></button>
		<button type="button" class="btn btn-primary"><%= link_to 'Back', project_notes_path(@note.project) %></button>
	</div>
