<% content_for(:title) {"The only notebook you'll ever need" } %>

<% content_for :content do %>
<% end %>

<div class="container">

	<%= image_tag "ant.png", id: "main_ant", alt: "ant", width: "300px" %>

	<div id="logo_tagline">	
		<%= image_tag "logo_FULL.png", id: "main_logo", width: "700px", alt: "SciAnts" %>

		<h1 id="tagline">your lab notebook online</h1>

		<h1 id="tagline_long">SciAnts makes it easy to sync your notebook in <br /> the cloud, safely and securely.</h1> 
	</div>

	<br />

	<div id="copy">

		<div class="row">

			<div class="span3">
				<h2>Search</h2>
				<p>Do you ever wish you had ‘ctrl + f’ for your lab protocols? Now you do.</p>
				<%= image_tag "magnifyglass.png", class: "feature_img", alt: "feat1", width: "120px" %>
			</div>

			<div class="span3">
				<h2>Collaboration</h2>
				<p>Manage your shared repositories across platforms with easy access.</p>
				<%= image_tag "home_image2.png", class: "feature_img", alt: "feat2", width: "120px" %>
			</div>

			<div class="span3">
				<h2>Templates</h2>
				<p>Simple and customizable templates to speed up your science.</p>
				<%= image_tag "home_image1.png", class: "feature_img", alt: "feat3", width: "120px" %>
			</div>

			<div class="span3">
				<h2>Administration</h2>
				<p>For large teams, snapshots of progress for your whole group.</p>
				<%= image_tag "cloud.png", class: "feature_img", alt: "feat4", width: "150px" %>
			</div>

			<div class="clear"></div>

			<hr />
			
			<br />

			<div id="pricing_try">
				<h1 id="pricing">Sciants is pricing like it should be: free for groups up to 5. <br /> No setup fees, no licensing fees. Try our demo right now!</h1>

				<%= link_to 'Try the Demo', projects_path, :class => "btn btn-primary btn-large" %>
			</div>
			
			<br />

			<hr />
			
			<%= image_tag "ants_foot.png", alt: "ants footer", width: "1200px" %>
			
			<br /><br />
		</div>
	</div>

