<% content_for(:title) {"The only notebook you'll ever need" } %>

<% content_for :content do %>
<% end %>

<div class="container">

	<p id="notice"><%= notice %></p>

	<h1><%= @project.name %></h1>

	<br />

	<h2>Description:</h2>
	<p><%= @project.description %></p>

	<br />

	<h2>User:</h2>
	<p><%= @project.user %></p>

	<br />

	<button type="button" class="btn btn-primary"><%= link_to 'Edit', edit_project_path(@project) %></button>
	<button type="button" class="btn btn-primary"><%= link_to 'Back', projects_path %></button>

</div>