<div class="container">
	
	<h1>Advanced Search</h1>
	
	<br /><br />

	<% title "New Project Search" %>

	<%= form_for @project_search do |f| %>
	<%= f.error_messages %>
	
	<%= f.text_field :all, :placeholder => "All" %>

	<br /><br />
	<%= f.text_field :name, :placeholder => "Name" %>

	<br /><br />
	<%= f.text_field :description, :placeholder => "Description" %>

	<br /><br />
	<%= f.text_field :user, :placeholder => "User" %>

	<br /><br />
	<%= f.text_field :tag, :placeholder => "Tag" %>

	<br /><br /><br />
	<%= f.submit :class => 'btn btn-info' %>

	<% end %>

</div>

