<% title "Project Search" %>
<table>
<tr>
<th id="project_name" width="15%"><h2>Name</h2></th>
<th id="project_desc" width="60%"><h2>Description</h2></th>
<th id="project_user" width="10%"><h2>User</h2></th>
<th id="project_user" width="10%"><h2>Notes</h2></th>

<th></th>
<th></th>
</tr>
<% @project_search.projects.each do |project| %>
<tr>
<td><%= project.name %></td>
<td><%= project.description %></td>
<td><%= project.user %></td>
<td><%= project.notes.length %> <%= "Note".pluralize(project.notes.length) %></td>
<td id="project_edit"><%= link_to 'View', edit_project_path(project) %></td>
<td id="project_destroy"><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</table>

