<!DOCTYPE html>
<html>
<head>
	<title>AntsV2</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar">
		<div class="navbar-inner">
			<div class="nav-collapse">
				<a class="brand" href="/pages/home"><span class="demo_logo_Sci">Sci</span><span class="demo_logo_Ants">Ants</span></a>
				
				<%= form_tag projects_path, :method => 'get', :class => 'navbar-search pull-left' do %>
		                <%= text_field_tag :search, params[:search], :class => 'search-query span2', :placeholder => "Search" %>
		        <% end %>

				<ul class="nav pull-right">
					<li><a href="#">User</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">To-Do<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">VERY IMPORTANT</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>

							<li class="divider"></li>

							<li><a href="#">Somewhat important</a></li>
							<li><a href="#">One more separated link</a></li>

							<li class="divider"></li>

							<li><a href="#">Meh!</a></li>
							<li><a href="#">End</a></li>

						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Calendar<b class="caret"></b></a>
						<ul class="dropdown-menu calendar">							
							<div class="title">July 2012</div>
							<table border="1">
							<tr><th>Su</th><th>Mo</th><th>Tu</th><th>We</th><th>Th</th><th>Fr</th><th>Sa</th></tr>
							<tr><td><span class="date">1</span></td><td><span class="date">2</span></td><td><span class="date">3</span></td><td><span class="date">4</span></td><td><span class="date">5</span></td><td><span class="date">6</span></td><td><span class="date">7</span></td></tr>
							<tr><td><span class="date">8</span></td><td><span class="date">9</span></td><td><span class="date">10</span></td><td><span class="date">11</span></td><td><span class="date">12</span></td><td><span class="date">13</span></td><td><span class="date">14</span></td></tr>
							<tr><td><span class="date">15</span></td><td><span class="date">16</span></td><td><span class="date">17</span></td><td><span class="date">18</span></td><td><span class="date">19</span></td><td><span class="date">20</span></td><td><span class="date">21</span></td></tr>
							<tr><td><span class="date">22</span></td><td><span class="date">23</span></td><td><span class="date">24</span></td><td><span class="date">25</span></td><td><span class="date">26</span></td><td><span class="date">27</span></td><td><span class="date">28</span></td></tr>
							<tr><td><span class="date">29</span></td><td><span class="date">30</span></td><td><span class="date">31</span></td><td><span class="date">&nbsp;</span></td><td><span class="date">&nbsp;</span></td><td><span class="date">&nbsp;</span></td><td><span class="date">&nbsp;</span></td></tr>
							</table>
					
						</ul>
					</li>
					<li><a href="#">Settings</a></li>
				</ul>
			</div>
		</div>
	</div>

	<%= yield %>

	<div class="clear"></div>

	<div class="demo_footer">
		<h2>For SciAnts!</h2>
		<a class="link" href="/pages/home">Demo Home</a> | Created at <a class="link" href="http://angelhack.com/">AngelHack Summer 2012</a>
	</div>

</body>
</html>
